@CHARSET "UTF-8";

.main-form{
    margin-bottom: 7px;
}

.rmc-background{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         5px 5px 5px 0px rgba(50, 50, 50, 0.75);
    margin-bottom: 10px;
}



.searchResultLink {
    margin-right: 10px;
}

.searchResultText{
    margin-left: 10px;
    margin-top: 10px;
}

hr { 
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #b7b7b7 !important;
    margin: 1em 0; 
    padding: 0; 
}
html{
    height: 100%;
}

body{
  background: lightblue;
}