<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>rateMyClassmate</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SearchUsers</servlet-name>
        <servlet-class>Controller.SearchUsers</servlet-class>
    </servlet> 
    <servlet>
        <servlet-name>AddNewUser</servlet-name>
        <servlet-class>Controller.AddNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteReview</servlet-name>
        <servlet-class>Controller.WriteReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserRatings</servlet-name>
        <servlet-class>Controller.SearchUserRatings</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUsers</servlet-name>
        <url-pattern>/SearchUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewUser</servlet-name>
        <url-pattern>/AddNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserRatings</servlet-name>
        <url-pattern>/SearchUserRatings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteReview</servlet-name>
        <url-pattern>/WriteReview</url-pattern>
    </servlet-mapping>
</web-app>
